[submodule "tools/github.com/haerfest/uef"]
	path = tools/github.com/haerfest/uef
	url = https://github.com/haerfest/uef.git
[submodule "tools/github.com/RC2014Z80/RC2014"]
	path = tools/github.com/RC2014Z80/RC2014
	url = https://github.com/RC2014Z80/RC2014.git
[submodule "tools/github.com/superzazu/z80"]
	path = tools/github.com/superzazu/z80
	url = https://github.com/superzazu/z80.git
[submodule "tools/github.com/mcleod-ideafix/zx81putil"]
	path = tools/github.com/mcleod-ideafix/zx81putil
	url = https://github.com/mcleod-ideafix/zx81putil.git
[submodule "tools/github.com/nanoflite/c64-up2400-cc65"]
	path = tools/github.com/nanoflite/c64-up2400-cc65
	url = https://github.com/nanoflite/c64-up2400-cc65.git
[submodule "tools/github.com/reidrac/mkc64tap"]
	path = tools/github.com/reidrac/mkc64tap
	url = https://github.com/reidrac/mkc64tap.git
[submodule "tools/github.com/EtchedPixels/CC6303"]
	path = tools/github.com/EtchedPixels/CC6303
	url = https://github.com/EtchedPixels/CC6303.git
[submodule "tools/github.com/bebbo/amiga-gcc"]
	path = tools/github.com/bebbo/amiga-gcc
	url = https://github.com/bebbo/amiga-gcc.git
[submodule "tools/github.com/EtchedPixels/Fuzix-Compiler-Kit"]
	path = tools/github.com/EtchedPixels/Fuzix-Compiler-Kit
	url = https://github.com/EtchedPixels/Fuzix-Compiler-Kit.git
[submodule "tools/github.com/EtchedPixels/Fuzix-Bintools"]
	path = tools/github.com/EtchedPixels/Fuzix-Bintools
	url = https://github.com/EtchedPixels/Fuzix-Bintools.git
[submodule "tools/github.com/stronnag/xtc68"]
	path = tools/github.com/stronnag/xtc68
	url = https://github.com/stronnag/xtc68
