.vs/
.vscode/
*.img
*.io
*.pid
*.rom
/apple2/
/bbc/
/c64/
/cfg/
/cygwin-*/
/darwin-*/
/dragon/
/forth/
/history/
/linux-*/
/m100/
/mame.ini
/mingw-*/
/misc/
/model.inc
/pico/
/pty
/ql/
/rc2014/
/roms/
/scripts/script.sh
/snap/
/spectrum/
/todo.txt
/windows-*/
/z88/
/zx81/
/tools/bin2cas.pl
/tools/jtyone.jar
