.vscode/
*.disc
/bbc/
/c64/
/cfg/
/cygwin-*/
/darwin-*/
/dragon/
/forth/
/history/
/linux-*/
/m100/
/mame.ini
/mingw-*/
/misc/
/orterforth.inc
/pico/
/ql/
/rc2014/
/roms/
/snap/
/spectrum/
/todo.txt
/tools/
/windows-*/
/zx81/